name: Build & Release Android APK

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Generate Debug Keystore
      run: |
        keytool -genkey -v \
        -keystore debug.keystore \
        -storepass android \
        -alias androiddebugkey \
        -keypass android \
        -dname "CN=Android Debug,O=Android,C=US" \
        -keyalg RSA -keysize 2048 -validity 10000

    - name: Godot Android Export
      uses: firebelley/godot-export@v6
      with:
        godot-version: 4.2.1
        export-template: android
        export-name: IronZone
        export-path: build/

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        files: build/*.apk
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
